@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-align: center;
    margin-top: 10vh;
}
.row input{
    margin: 0;
    padding: 11px;
    border: solid 2px;
    border-radius: 9px;
    font-size: 20px;
}
.row{
    padding: 8px;
}
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
    padding: 20px ;
    width: 60px;
    margin: 0px 3px;
    border: solid 2px black;
    border-radius: 9px;
    cursor: pointer;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}